{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>{{ _('Edit Profile') }}</h1>
  <div class="row">
    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
      <br>
      <a href="{{ url_for('main.user', username=current_user.username) }}" class="btn btn-secondary">{{ _('Back') }}</a>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">{{ _('Delete account') }}</button>
    </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ _('Delete account?') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ _('Are you sure you want to delete your account? This action cannot be undone.') }}
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('main.delete_user', id=current_user.id) }}" class="btn btn-danger">{{ _('Delete forever') }}</a>
            <button type="button" class="btn btn-primary">{{ _('Back') }}</button>
          </div>
        </div>
      </div>
  </div>
{% endblock %}